.main__wrapper--activity{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

.main__drop{
  position: relative;
  width: 100%;
  height: calc(130px / 4);
  max-height: calc(130px/4);
  color:transparent;
  user-select: none;
}
.main__drop--active{
  box-shadow: 0px 5px 5px -2px #888;
  transition: .3s ease-out;

}

.main__activity {
  position: absolute;
  top:-1px;
  left: 2px;
  right: 1px;

  transform: translate(0px, 2px);
  padding: 1px;
  font-size: 0.8rem;
  cursor: pointer;
  
  border: 1px white solid;
  z-index: 2;
  color: #000;

  user-select: none;
}
.main__activity:hover{
  z-index: 98;
}

.main__activity:hover .activity__ico {
  color: transparent;
}
.main__activity:hover .activity__ico--delete {
  color: black;
}
.main__activity--blueL {
  background-color: rgba(214, 236, 255, 1);
  background-color: var(--blueLight);
}
.main__activity--blue {
  background-color: rgba(147, 215, 251, 1);
  background-color: var(--blue);
}
.main__activity--orange {
  background-color: rgba(253, 212, 102, 1);
  background-color: var(--orange);
}

.activity__p{
  font-size: 0.75rem;
}
.activity__ico {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-1px, -1px);
}
.activity__ico--delete {
  color: transparent;
}


