.main__activity {
  position: absolute;
  left: 50%;
  width: calc(100% - 2px);
  transform: translate(-50%, 1px);
  padding: 1px;
  border: 1px solid white;
  font-size: 0.9rem;
}
.main__activity--lBlue {
  background-color: rgba(214, 236, 255, 1);
  background-color: var(--blueLight);
}
.main__activity--blue {
  background-color: rgba(147, 215, 251, 1);
  background-color: var(--blue);
}
.main__activity--orange {
  background-color: rgba(253, 212, 102, 1);
  background-color: var(--orange);
}

.main__day--1 > .main__activity:nth-child(1) {
  top: calc(130px * 0.5);
  height: calc(130px * 0.75);
}
.main__day--1 > .main__activity:nth-child(2) {
  top: calc(130px * 1.25);
  height: calc(130px * 0.75);
}
.main__day--1 > .main__activity:nth-child(3) {
  top: calc(130px * 2);
  height: calc(130px * 0.75);
}
.main__day--1 > .main__activity:nth-child(4) {
  top: calc(130px * 2.75);
  height: calc(130px * 0.5);
}
.main__day--1 > .main__activity:nth-child(5) {
  top: calc(130px * 4.25);
  height: calc(130px * 0.75);
}
.main__day--1 > .main__activity:nth-child(6) {
  top: calc(130px * 5);
  height: calc(130px * 0.75);
}
