.header {
  position: absolute;
  height: 70px;
  width: calc(100% - 15px);
  padding: 5px;
  background-color: #fff;
  border-bottom: 1px solid grey;
}

.header__h {
  flex-basis: calc(100% / 3);

  align-self: flex-start;
}
.header__date {
  flex-basis: calc(100% / 3);
  align-self: flex-end;
  text-align: center;
}
.header__a {
  color: black;
}
.header__tools {
  flex-basis: calc(100% / 3);
  align-self: flex-end;
  height: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
