/* Reset */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --greyLight: rgba(242, 242, 242, 1);
  --blueLight: rgba(214, 236, 255, 1);
  --blue: rgba(147, 215, 251, 1);
  --orangeLight: rgba(253, 212, 102, 1);
}
body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

/* flex Classes */

.flexRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* widget container */

.calendar {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.modal {
  position: relative;
  width: 600px;
  height: 600px;
  overflow: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
